{% extends 'layout.html' %}
{% load thought_tags %}
{% block title %}Dashboard| {{ block.super}} {% endblock %}

{% block content %}
<div class="container" style="padding: 20px;">
    <dev class="row">
        <div class="col-md-6">
            <h2>Recent Recording</h2>
            <ul>
                {% for thought in user.thoughts.all %}
                <li>{{ thought.get_condition_display }}</li>
                {% endfor %}
            </ul>
        </div>
        <dev class="col-md-6">
            {% thought_form %}
        </dev>
    </dev>

</div>
{% endblock %}